[package]
name = "clustor"
version = "0.1.0"
edition = "2021"

[features]
default = []
net = [
    "httparse",
    "rustls",
    "rustls-pemfile",
    "url",
    "x509-parser",
]

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
thiserror = "2.0.17"
rand = "0.8.5"
rand_chacha = "0.3.1"
crc32fast = "1.5.0"
sha2 = "0.10.9"
aes-gcm = "0.10.3"
hmac = "0.12.1"
hex = "0.4.3"
ed25519-dalek = { version = "2.1.1", features = ["rand_core"] }
httparse = { version = "1.9.4", optional = true }
log = "0.4.22"
rustls = { version = "0.21.12", optional = true, features = ["dangerous_configuration"] }
rustls-pemfile = { version = "1.0.4", optional = true }
url = { version = "2.5.2", optional = true }
x509-parser = { version = "0.17", default-features = false, optional = true }

[dev-dependencies]
tempfile = "3.23.0"
